<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="model.Survey" alias="survey" />
		<typeAlias type="model.Product" alias="product" />
		<typeAlias type="model.Member" alias="member" />
		<typeAlias type="model.Cart" alias="cart" />
		<typeAlias type="model.Order" alias="order" />
		<typeAlias type="model.OrderItem" alias="orderitem" />
		<typeAlias type="model.Board" alias="board" />
		<typeAlias type="model.BoardComment" alias="comment" />
		<typeAlias type="model.ProdReview" alias="prodreview" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="kic" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/Survey.xml" />
		<mapper class="mybatis.MemberAnno" />
		<mapper resource="mybatis/Cart.xml" />
		<mapper resource="mybatis/Order.xml" />
		<mapper resource="mybatis/Product.xml" />
		<mapper resource="mybatis/Board.xml" />
		<mapper resource="mybatis/ProdReview.xml" />
	</mappers>
</configuration>